<!DOCTYPE html>
<html>
<head>
	<title>¿Cuánto debo comprar para el asado?</title>
	<meta charset="utf-8">
	<meta type="description" content="No te vuelvas loco calculando tu asado, te entregamos la herramienta perfecta. Indica la cantidad de comensales y cuál es tu presupuesto.">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,700" rel="stylesheet">
	<link href="http://mutable-tools.github.io/MutaGrid/mutagrid/dist/12/mutagrid.css" rel="stylesheet"  />
	<link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
	<div id="app">
		<div class="container box-wrapper">
			<div class="row">
				<div class="column-8 column-center">
					<h1>{{ title }}</h1>
					<h2>{{ description }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="column-6">
					<form>
						<fieldset class="box-form">
							<legend>Cantidad de Invitados:</legend>
							<input type="number" min="0" name="hombres" placeholder="Hombres" v-model="cantHombres">
							<input type="number" min="0" name="mujeres" placeholder="Mujeres" v-model="cantMujeres">
							<input type="number" min="0" name="ninos" placeholder="Niños" v-model="cantNinos">
							<br>
							<select v-model="selecPresupuesto">
								<option value="" disabled>Seleccione su presupuesto:</option>
								<option v-for="presupuesto in presupuestos" v-bind:value="presupuesto.type">{{ presupuesto.name }}</option>
							</select>
							<p>{{ selecPresupuesto }}</p>
						</fieldset>
					</form>
				</div>
				<div class="column-6">
					<div class="box-result">
						<h3>Total de invitados {{ calcTotalInvitados() }}</h3>
						<p>Hombres: {{ cantHombres }} | Mujeres: {{ cantMujeres }} | Niños: {{ cantNinos }}</p>
						<hr>
						<ul>
							<li v-if="selecPresupuesto != 'Sólo choripán'">
								{{ calcCarne() }} kg de {{ tipoComida }}
								<p class="alternativa">Alternativas: {{ alternativasComida }}</p>
							</li>
							<li>{{ pesoEmbutido }} kg de {{ tipoEmbutido }}</li>
							<li>{{ pesoCarbon }} kg de Carbón</li>
							<li>{{ calcPan() }} unidad(es) de Pan Marraqueta</li>
						</ul>
						<p class="precio-total">El costo total del asado es de ${{ precioTotal }} (${{ precioCada }} por cada uno de los {{ calcTotalInvitados() }})</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column-10 column-center">
				<p class="disclaimer">{{ disclaimer }}</p>
			</div>
		</div>
	</div>
	<div class="background"></div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
	<script src="assets/js/app.js"></script>
</body>
</html>