[v-cloak] {
	display: none;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-size: cover;
	color: #fff;
}

.box-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1em 2em;
	background-color: rgba(0,0,0,.6);	
	border-radius: .5em;
}

h1,
h2 {
	text-align: center;
}

h2 {
	font-weight: normal;
	font-size: 1.1em;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('https://images.pexels.com/photos/6026/man-vacation-people-summer.jpg?w=1260&h=750&auto=compress&cs=tinysrgb') center center no-repeat;
  background-size: cover;
}
.background:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(110, 82, 157, 0.6) 0%,rgba(217, 123, 147, 0.6) 100%)
}

.disclaimer {
	text-align: center;
	font-style: italic;
}

.box-form {
	border: 0;
	text-align: center;
}

.box-form input {
	width: 2em;
	height: 2em;
	margin: .5em;
	font-size: 2em;
	text-align: center;
	border: 0;
	border-radius: .1em;
}

.box-form select {
	/* from: https://codepen.io/vkjgr/pen/VYMeXp?editors=0100 */
	/* base */
	margin-top: 1em;
	background-color: white;
	border-radius: 4px;
	display: inline-block;
	font: inherit;
	line-height: 1.5em;
	padding: 0.5em 3.5em 0.5em 1em;
	/* reset */
	margin: 0;      
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	/* style */
	background-image:
		linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%),
		linear-gradient(to right, #ccc, #ccc);
	background-position:
		calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px),
		calc(100% - 2.5em) 0.5em;
	background-size:
		5px 5px,
		5px 5px,
		1px 1.5em;
	background-repeat: no-repeat;
}
.box-form select:focus {
	background-image:
		linear-gradient(45deg, green 50%, transparent 50%),
		linear-gradient(135deg, transparent 50%, green 50%),
		linear-gradient(to right, #ccc, #ccc);
	background-position:
		calc(100% - 15px) 1em,
		calc(100% - 20px) 1em,
		calc(100% - 2.5em) 0.5em;
	background-size:
		5px 5px,
		5px 5px,
		1px 1.5em;
	background-repeat: no-repeat;
	outline: 0;
}



