[v-cloak] {
	display: none;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: url() center center no-repeat;
	background-size: cover;
}

h1,
h2 {
	text-align: center;
}

h2 {
	font-weight: normal;
	font-size: 1.1em;
}

.disclaimer {
	text-align: center;
	font-style: italic;
}